
<div class="projects">
		<% if @projects %>
			<% @projects.each do |project| %>
			<div class="project">
				<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1"><a class="" href=<%= project['img']%>><img class="img-responsive img-thumbnail" src=<%= project['img']%> ></a>
				</div>
				</div>
				<div class="box row">
					<div class="title bold"><%= project['title'] %></div>
					<div class="light"><%= project['subtitle'] %></div>
					<div class="info">
						<%= project['description'] %><br />
						<a class="source" href=<%= project['url']%> >Source</a>
					</div>
					</div>
				</div>
			<!-- <div class="clearfix"></div> -->
			<% end %>
 
		  <% end %>
</div>
