
<div class="projects col-md-10 col-md-offset-1">
		<% if @projects %>
			<% @projects.each do |project| %>
			<div class="project row">
				<!-- <div class="seven columns alpha"> -->
				<div class="row col-md-12">
				<div class="col-md-7">
					<a class="" href=<%= project['img']%>><img class="img-responsive img-thumbnail" src=<%= project['img']%> ></a>
				</div>
				<div class="box col-md-4"> <!-- box -->
					<div class="title"><%= project['title'] %></div>
					<div class="light"><%= project['subtitle'] %></div>
					<div class="info">
						<%= project['description'] %>
					</div><br />
					<a class="source" href=<%= project['url']%> >Source</a>
				</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<% end %>
 
		  <% end %>
</div>
