<%= erb :"_header" %>

<div id="navigation">
<nav class="navbar navbar-black navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
		<li><a href="/" >home</a></li>
		<li><a href="/about" <% if @page && @page == "about" %> class="active" <% end %> >about</a></li>
		<li><a href="/projects" <% if @page && @page == 'recent projects' %> class="active" <% end %> >recent projects</a></li>
		<li><a href="/misc/resume.pdf">resume</a></li>
	</ul>
  </div>
</nav>
</div>

<div id="content" class="container content">
<div id="wrap" >
	
	<h1 class="banner"> <%= @page %></h1>
		<% if @page && @page == "about" %>
			<%= erb :"_about" %>
		<% elsif @page && @page == 'recent projects' %>
			<%= erb :"_projects" %>
		<% end %>
	</div>
</div>

<%= erb :"_footer" %>